body{
    background-image: url(images/background.jpg);
}

.header{
    text-align:center;
    height:10vh;
    padding-top: 50px;
    margin:0px;
}

.wrapper{
    width:70vw;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.title{
    border: 1px solid;
    border-color: grey;
    border-radius: 3px;
    height: 30px;
    box-shadow: 10px 5px 5px grey;
}

.body {
    border: 1px grey solid;
    border-color: grey;
    border-radius: 3px;
    height: 30px;
    box-shadow: 10px 5px 5px grey;
}

.btn{
    border: 1px grey solid;
    border-radius: 3px;
    height: 33.6px;
    width: 110px;
    background-color: rgb(213, 161, 213);
    box-shadow: 10px 5px 5px grey;
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    width:70vw;
    max-height:50vh;
    margin: 15px auto;
    box-shadow: 10px 5px 5px grey;
    overflow:hidden;
}